<div class="container">
<%= render("shared/logo", title: "Jewelry deletion page") %>
	<div class="row">
	    <div class="well col-md-8 col-md-offset-2">
	        <%= form_for(@jewelry, :url => {:controller => "jewelries", :action => 'destroy', :id => @jewelry.id}, method: "delete") do |f| %>
	        <p class="lead">Are you sure you want to delete <%= @jewelry.name %> ?</p>
	        
	        <%= submit_tag("Delete", class: "btn btn-danger") %>
	        <% end %>
	    </div>
	</div>
</div>