<div class="row marginTopMinMin">
	<%= link_to(image_tag("logo.jpg", alt: "Logo Skubich", class: "logo logo_index"), root_path) %>
	<h1 class="camille logo_index">Camille Skubich Jewelry</h1>
	<h2 class="catch_phrase logo_index">Wear your character</h2>
	
</div>
<% if current_admin %>
     <%= link_to('Admin', admins_path, class: 'admins_link black') %> 
     <%= link_to('LogOut', destroy_admin_session_path, class: 'admins_log_out black', method: :delete) %>     
<% end %>


